framework auto-detect

source https://www.nuget.org/api/v2

nuget Equals.Fody ~> 1.9
nuget Fody ~> 4.0
nuget Messerli.Test.Utility ~> 0.1.0
nuget Messerli.Utility ~> 0.1.1
nuget Newtonsoft.Json ~> 12.0
